<div class="row">
    <div class="span12">
        <h1>Example view</h1>
        <div class="row">
            <div class="span4">
                <h2>First column</h2>
                <div>Name: <%= name %> </div>
            </div>
            <div class="span4">
                <h2>Other column</h2>
                <a href="#other">to other route/view</a>
            </div>
            <div class="span4">
                <h2>Third column</h2>
                <a href="#handlebars">Check out the handlebars page</a>
            </div>
        </div>
    </div>
</div>